<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<body>
  <p>
  	Here is how it works:
  </p>
  <ul>
  	<li>You fill out a form indicating your top interests</li>
  	<li>You will be matched with 5-6 Wharton students who picked similar industries, nationalities, hobbies, and/or sports</li>
  	<li>An introductory email is sent out to the group</li>
	  <li>You guys organize an awesome small group event!</li>
  </ul>
  <p>
  	Here is what we can promise you:
  </p>
  <ul>
    <li>Other than your name and email, no other specific personal information will be shared or used for any purpose other than for planning small group events</li>
  	<li>You can change your answers to your survey at any time</li>
  	<li>You can opt in or out of small group events at any time</li>
  </ul>
  <p>
  	Here is what we expect from you:
  </p>
  <ul>
  	<li>DO make every effort to cooperate with your assigned group and attend the smal group event. The participation of all of you is what makes this activity fun and rewarding for everyone
	<li>DO feel free to share what industries, nationalities, hobbies, and sports you put down to get the conversations flowing</li>
	<li>DON'T tell other business schools about how great Wharton small group events are. Only we should be having all the fun!</li>
  </ul>
</body>