<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<body>
  <p>
  	Here is how it works:
  </p>
  <ul>
  	<li>You fill out a form indicating your top interests</li>
  	<li>You will be matched with 5-6 Wharton students who share your similar industry, hobby, and/or nationality</li>
  	<li>An introductory email is sent out to the group</li>
	<li>You guys organize an awesome small group meal!</li>
  </ul>
  <p>
  	Here is what we can promise you:
  </p>
  <ul>
    <li>Other than your name and email, no other personal information will  be shared or used for any purpose other than for planning Small Group Meals</li>
  	<li>You can change your answers to your survey at any time</li>
  	<li>You can opt in or out of Small Group Meals at any time</li>
  </ul>
  <p>
  	Here is what we expect from you:
  </p>
  <ul>
  	<li>DO make every effort to cooperate with your assigned group and attend the Small Gropu Meal. The participation of all of you is what makes this activity fun and rewarding for everyone
	<li>DO feel free to share what industries, hobbies, and nationalities you put down. Organic networking is the essence of the Wharton network</li>
	<li>DON'T tell other business schools about how great Wharton Small Group Meals are. Only WE should have all the fun!</li>
  </ul>
</body>